//
// Masthead section styling
//

header.masthead {
    padding-top: 6rem + 4.5rem;
    padding-bottom: 6rem;
    text-align: left;
    color: $black;
    background-image: url("../assets/img/codesprint_bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    header.headings {
        padding-left: 5rem;
        width: 50%;

        .masthead-subheading {
            font-size: 1.5rem;
            font-style: italic;
            line-height: 1.5rem;
            margin-bottom: 25px;
            font-family: $subheadings-font-family;
            //-webkit-text-stroke: 1px #282828;
            text-shadow: 0px 4px 4px #282828;
        }

        .masthead-heading {
            font-size: 3.25rem;
            font-weight: 700;
            line-height: 3.25rem;
            margin-bottom: 2rem;
            font-family: $headings-font-family;
            //-webkit-text-stroke: 1px #282828;
            text-shadow: 0px 4px 4px #282828;
        }
    }

}

@include media-breakpoint-up(md) {
    header.masthead {
        padding-top: 12.5rem + 4.5rem;
        padding-bottom: 12.5rem;

        .masthead-subheading {
            font-size: 2.25rem;
            font-style: italic;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
        }
    }
}
