//- Replace these variables to generate a new page
- var title = "Open Standards Code Sprint";
- var date = "October 20-22, 2025";
- var deadline = "Thursday, October 13 2025, 17:00 UTC+2";
- var tagline = "Open to all OGC APIs and data encodings";
- var registration_link = "https://events.ogc.org/OGCOpenStandardsCodeSprint-October2025#/buyTickets/selectTickets";
- var schedule_link = "https://github.com/opengeospatial/developer-events/wiki/October-2025-Open-Standards-Code-Sprint#schedule";
- var about = "A Code Sprint is a three day virtual or hybrid event, where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of OGC (draft) Standards, as well as software which implements those Standards. In addition, it also aims to create awareness about the Standards and software projects. This code sprint takes place at the VONK innovation center (Rotterdam, the Netherlands), and on the OGC-events Discord server. It is hosted by the Open Geospatial Consortium (OGC) and Geonovum.";
- var wiki_link = "https://github.com/opengeospatial/developer-events/wiki/October-2025-Open-Standards-Code-Sprint";
- var fork_link = "https://github.com/opengeospatial/dev-ogc-org-sprint-landing-26";
- var location = "VONK innovation center (Rotterdam, the Netherlands)";
- var location_link = "https://www.vonkrotterdam.nl/"
- var nodes_link = "https://developer.ogc.org/sprints/nodes/"

-
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona",
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/jo.jpeg", "alt": "Joana", "h3": "Joana Simoes",
        "p": "Developer Relations at OGC."},        
        ];

- var start_date = "2025/10/20 09:00:00";
